@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:wght@700&family=Fredoka&display=swap");

* {
  font-size: 35px;
  font-family: "Abril Fatface", cursive;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
