@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Fredoka&display=swap");

* {
  font-size: 35px;
  font-family: "Barlow", sans-serif;
  font-family: "Fredoka", sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
